@if (error()) {
  <p>{{ error() }}</p>
}

@if (character()) {
  <div class="details-card">
    <img [src]="character()!.image" [alt]="character()!.name">

    <div class="details-info">
      <h1>{{ character()!.name }}</h1>
      <p><strong>Species:</strong> {{ character()!.species }}</p>
      <p><strong>House:</strong> {{ character()!.house || 'No House' }}</p>
      <p><strong>Wizard:</strong> {{ character()!.wizard }}</p>
      <p><strong>Ancestry:</strong> {{ character()!.ancestry }}</p>
      <p><strong>Actor:</strong> {{ character()!.actor }}</p>
      <p><strong>Wand Wood:</strong> {{ character()!.wand?.wood }}</p>
      <p><strong>Wand Core:</strong> {{ character()!.wand?.core }}</p>
      <p><strong>Wand Length:</strong> {{ character()!.wand?.length }}</p>
    </div>
  </div>
}